# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual Environments
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# Ignore the dataset directory and file
payment_fraud_dataset.csv
